#root {
  background-image: url("gold-pattern-small.png");
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  color: #f4eae2;
}

.app {
  min-height: 100vh;
}

.main-display {
  background-color: #282c34;
  padding: 1em;
  text-align: center;
  min-height: 60vh;
  min-width: 60vw;
  box-shadow: rgba(0, 0, 0, 0.8) 0em 1em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.wager-btn-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.level-select-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: space-around;
}

.menu-select-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: space-between;
  justify-content: center;
  align-content: center;
}

.revision {
  text-align: left;
  font-size: large;
}

.accordion-body:not(.collapsed) {
  color: #f4eae2;
  background-color: #191c21;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed) {
  color: #f7bd1d;
  background-color: #282c34;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button {
  color: #f4eae2;
  background-color: #282c34;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.portrait {
  border-radius: 50%;
  max-height: 15vh;
  max-width: 15vw;
}

.large-portrait {
  border-radius: 50%;
  max-height: 30vh;
  max-width: 30vw;
  margin: 5vh;
}

.victory {
  box-shadow: 0em 0em 10em #f7bd1d;
  transition: 5s;
}

.selected {
  box-shadow: 0em 0em 1em #f7bd1d;
  transition: 1s;
}

.deselected {
  filter: grayscale(100%);
  filter: brightness(50%);
  transition: 1s;
}

.score {
  margin: 1em;
}

.player-container {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
}

.level-text {
  margin: 2vh;
}

.btn-warning {
  filter: brightness(85%);
}

.chinese-character-display {
  margin: 2vh;
}

.translation-display {
  outline: #f4eae253 solid 1px;
  margin: 2vh;
  padding: 1vh;
}

.draw-text {
  margin: 2vh;
}

@media only screen and (max-width: 900px) {
  .main-display {
    background-color: #282c34;
    padding: 1em;
    text-align: center;
    min-height: 60vh;
    min-width: 90vw;
    box-shadow: rgba(0, 0, 0, 0.8) 0em 1em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
