#root {
  background-image: url("gold-pattern-small.png");
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  color: rgb(205, 202, 202);
}

.app {
  min-height: 100vh;
}

.main-display {
  background-color: #282c34;
  padding: 1em;
  text-align: center;
  min-height: 60vh;
  min-width: 60vw;
  box-shadow: rgba(0, 0, 0, 0.8) 0em 1em 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.wager-btn-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.level-select-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: space-around;
}

.menu-select-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: space-between;
  justify-content: center;
  align-content: center;
}

.revision {
  text-align: left;
}

.accordion-body:not(.collapsed) {
  color: #ffffff;
  background-color: #282c34;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #234486;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button {
  color: #ffffff;
  background-color: #2e384e;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.portrait {
  border-radius: 50%;
  max-height: 15vh;
  max-width: 15vw;
}

.selected {
  box-shadow: 0em 0em 1em #f7bd1d;
}

.deselected {
  filter: grayscale(100%);
  filter: brightness(50%);
}

.score {
  margin: 1em;
}

.player-container {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
}
