#root {
  background-image: url("gold-pattern-small.png");
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  color: white;
}

.app {
  min-height: 100vh;
}

.main-display {
  background-color: #282c34;
  padding: 1em;
  text-align: center;
  min-height: 60vh;
  min-width: 60vw;
  box-shadow: rgba(0, 0, 0, 0.8) 0em 1em 4em;
}

.main-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.wager-btn-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.option-select-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: space-around;
  flex-direction: column;
}

.revision {
  text-align: left;
}

.accordion-body:not(.collapsed) {
  color: #ffffff;
  background-color: #282c34;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #234486;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button {
  color: #ffffff;
  background-color: #2e384e;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
